<div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
    <mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
			<mat-nav-list>
				<a href="#" mat-list-item>Home</a>
				<a href="#" mat-list-item>About</a>
				<a href="#" mat-list-item>Projects</a>
				<a href="#" mat-list-item>Blog</a>
				<a href="#" mat-list-item>Contact</a>
				<a href="#" mat-list-item>Resume</a>
				<!-- (click)="sidenav.toggle()" -->
			  </mat-nav-list>
		</mat-sidenav>
    </mat-sidenav-container>
</div>